@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --color-primary: #fd6e0a;
  --color-secondary: #474747;
  --color-tertiary: #757575;
  --color-bg: #fff8f3;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
}

/* navbar styles */

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  margin-bottom: 13rem;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem;
  margin-left: 12rem;
}

.header-nav__title {
  font-size: 4.5rem;
  font-weight: 800;
}

.header__nav-letter {
  color: var(--color-primary);
}

.header-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-nav__list--item {
  margin-right: 5rem;
}

.header-nav__list--item a {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 2rem;
}

.btn {
  background-color: var(--color-primary);
  padding: 1.9rem 3.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__text {
  width: 58.5rem;
  margin-left: 13rem;
}

.banner__greet {
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.banner__name {
  font-size: 8.5rem;
  font-weight: 700;
}

.banner__description {
  font-size: 1.8rem;
  color: var(--color-tertiary);
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.banner__btn {
  display: flex;
}

.banner__btn--download {
  margin-right: 3rem;
}

.banner__btn--contact {
  background-color: #fff;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.banner__img {
  width: 58.4rem;
  margin-right: 3.8rem;
}

.main {
  width: 114rem;
  margin: 0 auto;
}

.about {
  padding: 13.1rem 15.7rem;
  background-color: var(--color-bg);
}

.section-about {
  border: 1px solid #000;
}

.section__title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.section__description {
  font-size: 1.8rem;
  text-align: center;
  color: var(--color-tertiary);
  margin-bottom: 3rem;
}

.section__info {
  display: flex;
  justify-content: space-around;
}

.section__info--details > p {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--color-tertiary);
}

.section__info--details h4 {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.skill-section {
  margin-top: 13rem;
}

.skill__description {
  padding: 0 11.6rem;
  text-align: center;
  margin-bottom: 5rem;
}

.skill__item-container {
  display: flex;
  gap: 2rem;
}

.skill__item {
  padding: 3rem;
  box-shadow: 0 6px 5rem rgba(0, 0, 0, 0.06);
}
.skill__item-img {
  width: 4.4rem;
  height: 4.4rem;
}
.skill__item-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 27.24px;
  margin: 3rem 0 2rem 0;
}
.skill__item-description {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: var(--color-tertiary);
}
